.Section{
    background-image: url(./Images/bgimg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: inline-flex;
    padding: 180px 30px;
    font-family: 'Arimo', sans-serif;
}

.Col1{
    display: block;
    padding: 0 10px;

}

.Hd{
    font-size: 30px;
    color: #290001;
    font-weight: 700;
}

.Cnt{
    font-size: 20px;
    color: #cf7500;
    padding: 5px 0 25px 0;
    width: 70%;
    font-weight: 500;
}

.JoinUs{
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    background-color: #cf7500;
    padding: 5px 10px;
    font-size: 20px;
}

.JoinUs:hover{
    font-size: 25px;
    background-color: 290001;
}